/*
gernal layout
*/
:root {
	--ion-background-color: #FFFFFF;
	--ion-background-color-rgb: 255,255,255;
}

.web-title{
  margin:auto;
  text-align:center;
}

ion-back-button {
  display: block;
}

.card-xbox-container-col{
  background: green;
  margin: 1% 1% 1% 1%;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.card-xbox-col:hover {
  cursor: pointer;
}

.card-title{
  font-size: 1.8em;
  font-weight: 900;
}

.game-card:hover{
  cursor: pointer;
}

.game-card-developer{
  font-size: 1em;
  color: grey		;
}

.game-card-title{
  font-size: 1.2em;
  font-weight: 500;    
}

.game-card-title a{
  text-decoration: none;
  color: #4F4F4F		;
}

.card-xbox-container-row{
  width: 80vw;
  margin: auto;
}

.card-xbox-container-col:hover{
  cursor: pointer;
}

.card-xbox-game-pass-container{
  border-radius: 10px;
  background: linear-gradient(to bottom, #5FA24E,#5FA24E, #FFFFFF);
  color: #FFFFFF;
}

.cardswiper{
  height: 45vh;
}

.passcardswiper{
  height: 45vh;
}

.footer-text{
  font-size: 0.5em;
}

/*
game-list-card
*/

.full-game.game-card {
  min-width: 20vw;
  max-width: 20vw;
}

.game-card-important-tag {
  border-radius: 5px;
}

.game-card-important-tag-container{
  margin:1%;
}

.game-card-price-off {
  padding: 1%;
  width: 40%;
  height: 10%;
  text-align: center;
  font: bold;
  font-size: 1em;
  color: white;
  background-color: seagreen;
}
.game-card-gamepass{
  padding:1%;
  width: 40%;
  height: 10%;
  text-align: center;
  font: bold;
  font-size: 1em;
  color: white;
  background-color: darkorange;
}

.game-card-chinese{
  padding:1%;
  width: 40%;
  height: 10%;
  text-align: center;
  font: bold;
  font-size: 1em;
  color: white;
  background-color: darkcyan;
}

.game-card-eaplay{
  padding:1%;
  width: 40%;
  height: 10%;
  text-align: center;
  font: bold;
  font-size: 1em;
  color: white;
  background-color: darkred;
}

.game-card-price {
  color: #019858;
  font-size: 1.5em;
   
}
.game-card-sales-price {
  color: grey;
  font-size: 1.2em;
  padding-left: 1em;
}

.game-card-deals {
  color: #019858;
  font-size: 1.5em;
  font-weight: 500;
  
}

.game-box-thumbnail{
  margin: auto;
  position: relative;
}

.game-card-free{
  font-size: 1.5em;
  color: #AE0000;
}

.game-box-image{
  background: #4F4F4F;
  background-image: url('assets/imgs/xbox-logo.png') ;
  background-repeat: no-repeat;
  background-position: center;
}

.game-top-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(to bottom, #5FA24E,#5FA24E, #FFFFFF);
  border-radius: 10px;
  height: 100%;
}

.game-top-box-image{
  width: 30vw;
}

.game-top-card-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  z-index:1;
  margin:0 5% 0 5%;
  font-weight:600;
}

.game-top-section{
  z-index:1;
}

.game-top-card-title{
  font-size: 2.5em;
}

.game-top-card-deals{
  font-size: 2em;
}

.game-top-card-sales-price{
  font-weight:300;
}

.game-top-card-backgroud{
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  opacity: .4;
}

.game-top-card-priceoff{
  background-color:darkorange;
  border-radius:5px;
  text-align:center;
  font-size:1.5em;
}

@media screen and (max-width:768px) {

  .game-top-section{
    display:none;
  }

  .game-top-card-backgroud{
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: .5;
  }

  .game-top-card-deals{
    font-weight:500;
    
  }
  
}

/*
game-detail-card
*/


.game-detail-card-img .swiper-slide{
  max-height: 40vh;
}

.game-detail-card-title{
  font-size: 2.2em;
}

.game-detail-card-price{
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.game-detail-card-sales-price{
  color: grey;
  font-size: 2em;
}

.game-detail-card-deals{
  color: black;
  font-size: 1.3em;
  font-weight: bold;
}


.game-detail-card-description{
  font-size: 1.2em;
}

.game-detail-card-thumbnail{
  margin: auto;
}

.game-detail-card-sale-off{
  font-size: 1.3em;
}

.game-detail-card-sale-price{
  color: grey;
  font-size: 1.2em;
}

.game-detail-card-deals{
  color: #019858;
  font-size: 2em;
  font-weight: 500;
}

.game-detail-card-price{
  color: #019858;
  font-size: 2em;
}

.game-slide-image{
  background: #4F4F4F;
  background-image: url('assets/imgs/xbox-logo.png') ;
  background-repeat: no-repeat;
  background-position: center;
}

.game-detail-card-backgroud{
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  opacity: .4;
}

@media screen and (max-width:768px) {

  .game-card-price {
    color: #019858;
    font-size: 1em;
  }
  .game-card-sales-price {
    color: grey;
    font-size: 1em;
  }
  
  .game-card-deals {
    color: #019858;
    font-size: 1em;
    font-weight: 500;
  }

  .game-card-free{
    font-size: 1em;
  }

  .game-card-price-off {
    
    text-align: center;
    font: bold;
    font-size: 0.8em;
    color: white;
    background-color: seagreen;
  }
  
  .game-card-gamepass{
    width: 55%;
    font-size: 0.8em;
  }

  .cardswiper{
    height: 40vh;
  }
  .passcardswiper{
    height: 35vh;
  }

}