/*
gernal layout
*/
ion-back-button {
  display: block;
}

.card-xbox-container-col{
  background: green;
  margin: 1% 1% 1% 1%;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 2em;
}

.card-xbox-col:hover {
  cursor: pointer;
}

.card-title{
  color: green;
  font-size: 1.5em;
  font-weight: 900;
}


.game-card:hover{
  cursor: pointer;
}

.game-card-developer{
  font-size: 1em;
  color: #4F4F4F		;
}

.game-card-title{
  font-size: 1.5em;
  color: #4F4F4F		;
  font-weight: 500;
}

.card-xbox-container-row{
  width: 80vw;
  margin: auto;
}


/*
game-list-card
*/

.full-game.game-card {
  min-width: 20vw;
  max-width: 20vw;
}
.game-card-important-tag {
  border-radius: 5px;
}

.game-card-price-off {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 40%;
  height: 10%;
  text-align: center;
  font: bold;
  font-size: 1.5em;
  color: white;
  background-color: seagreen;
}
.game-card-gamepass{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40%;
  height: 10%;
  text-align: center;
  font: bold;
  font-size: 1.2em;
  color: white;
  background-color: darkorange;
}

.game-card-eaplay{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40%;
  height: 10%;
  text-align: center;
  font: bold;
  font-size: 1.2em;
  color: white;
  background-color: darkred;
}

.game-card-price {
  color: #019858;
  font-size: 1.5em;
}
.game-card-sales-price {
  color: grey;
  font-size: 1.2em;
  padding-left: 1em;
}

.game-card-deals {
  color: #019858;
  font-size: 1.5em;
  font-weight: 500;
  
}

.game-box-thumbnail{
  margin: auto;
  position: relative;
}
/*
game-detail-card
*/

.game-detail-card-img img{
  max-height: 60vh;
}

.game-detail-card-img .swiper-slide{
  max-height: 40vh;
  background-color: gray;

}

.game-detail-card-title{
  font-size: 2.2em;
}

.game-detail-card-price{
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.game-detail-card-sales-price{
  color: grey;
  font-size: 2em;
}

.game-detail-card-deals{
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}


.game-detail-card-description{
  font-size: 1.2em;
}

.game-detail-card-thumbnail{
  margin: auto;
}

.game-detail-card-sale-off{
  font-size: 1.5em;
}

.game-detail-card-sale-price{
  color: grey;
  font-size: 1.2em;
}

.game-detail-card-deals{
  color: #019858;
  font-size: 2em;
  font-weight: 500;
}

.game-detail-card-price{
  color: #019858;
  font-size: 2em;
}

@media screen and (max-width:768px) {

  .game-card-price {
    color: #019858;
    font-size: 1em;
  }
  .game-card-sales-price {
    color: grey;
    font-size: 1em;
  }
  
  .game-card-deals {
    color: #019858;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 1em;
    
  }

  .game-card-price-off {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 40%;
    height: 10%;
    text-align: center;
    font: bold;
    font-size: 1em;
    color: white;
    background-color: seagreen;
  }
}